/*----------IMPORTS----------*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Play&family=Ropa+Sans&family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=News+Cycle&family=Open+Sans&display=swap&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');



body { 
  margin: 0px; 
  background-color: #000000;
  font-family: 'Sen', sans-serif;
}

/*-------------------------------------------------- START OF NAVBAR CSS -------------------------------------------------*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #027994;
  overflow: hidden;
}
.topnav i {
  font-size: 35px;
  padding:0px 7px 0px 0px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align:left;
  padding: 19px 20px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.7s ;
  font-family: 'Exo 2', sans-serif;
  
}
.topnav a.using {
  float: right;
  display: block;
  color: #ff0000;
  text-align: center;
  padding: 14.2px 16px;
  text-decoration: none;
  font-size: 23px;
  position: relative;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  
}
a.using {
  float: left;
  display: block;
  color: #f2f2f2;
}

/* Dropdown container - needed to position the dropdown content */
.without-bootstrap-dropdown {
  float: left;
  overflow: hidden;
  
}

/* Style the dropdown button to fit inside the topnav */
.without-bootstrap-dropdown .without-bootstrap-dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 19px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.7s;
  font-family: 'Exo 2', sans-serif;
}

/* Style the dropdown content (hidden by default) */
.without-bootstrap-dropdown-content {
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  z-index:1;

  
}


/* Style the links inside the dropdown */
.without-bootstrap-dropdown-content a {
  float: none;
  background-color: rgb(0, 92, 112);
  color: rgb(255, 255, 255);
  padding: 16px 16px;
  text-decoration: none;
  display:block;
  text-align: left;
  font-size: 20px;
  font-weight:bolder;
}

.without-bootstrap-dropdown-content i {
  font-size: 20px;
  padding-left: 10px;
}

.without-bootstrap-dropdown-content a.curved_edge {
  float: none;
  background-color: rgb(0, 92, 112);
  color: rgb(255, 255, 255);
  padding: 16px 16px;
  text-decoration: none;
  display:block;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .without-bootstrap-dropdown:hover .without-bootstrap-dropbtn {
  background-color: rgb(2, 121, 148);
  color: rgb(0, 0, 0);
  transition: 0.7s;
  
}


.topnav a.using:hover {
  background-color: #027994;
  
}

/* Add a grey background to dropdown links on hover */
.without-bootstrap-dropdown-content a:hover {
  background-color: rgb(177, 177, 177);
  color: rgb(0, 0, 0);
  transition: 0.5s;
  
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.without-bootstrap-dropdown:hover .without-bootstrap-dropdown-content {
  display:block;
  
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 950px) {
  .topnav a:not(:first-child), .without-bootstrap-dropdown .without-bootstrap-dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.using {
    float: left;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 950px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a, .topnav.responsive a.using {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .without-bootstrap-dropdown {float: none;}
  .topnav.responsive .without-bootstrap-dropdown-content {position: relative;}
  .topnav.responsive .without-bootstrap-dropdown .without-bootstrap-dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  }

  .container1 {
    position: relative;
      width: 100%;
    }
    
    .overlay {
      position: absolute;
      bottom: -10px;
      left: 100%;
      right: 0;
      background-color: rgb(2, 121, 148);
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: 0.35s ease-in-out;
    }
    
    .container1:hover .overlay {
      width: 100%;
      left: 0;
    }
    
    img .logo {
      width: 40px;
      height: 40px;
    }
    /*-------------------------------------------------- END OF NAVBAR CSS -------------------------------------------------*/


    /*----------------------------------------------- START OF HERO IMG CSS ----------------------------------------------*/

  /* This is the hero image CSS code */
  .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Oil_Spills_Page/black_ocean_hero_image.jpeg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  height:90vh;
  
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: 'Akimo', sans-serif;
}

.hero-text button{
  width: 150px;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-size:300px 150px;
  background-color: #ddd;
  background-image: url("../images/Icons/wavefiller.png");
  background-repeat: repeat-x;
  background-position: 0 -50%;
  transition: 1.2s ease;
}

.hero-text button:hover{
  background-position: center;
}
.hero-text h1{
  font-size: 70px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.hero-text p{
  font-size: 20px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 600px) {
  .hero-image {
    height:60vh;
  }
  .hero-text h1{
    font-size: 50px;
  }
}

img .logo {
  width: 40px;
  height: 40px;
}

 /*------------------------------------------ START OF "WHAT THIS ABOUT" CSS --------------------------------------------*/
.about {
  width:100%;
  padding: 0px 250px 40px 250px;
  color:black;
  text-align: left;
  background-image: url("../images/Homepage/idek.png");
  background-size: 300%;
  display: block;
  border: #000000 0.1px solid;
}
.header-holder {
  width: 40%;
  margin-top: 30px;
  position:relative;
  text-align: center;
  left: 30%;
}

.article p{
  position: relative;
  font-family: 'Play', sans-serif;
  width: 100%;
  font-size: 19px;
  z-index: 2;
  margin-top: 30px;
}

.article {
  position: relative;
  height:auto;
  width: auto;
  color:black;
  text-align: left;
}

.article h1 {
  position: relative;
  font-family: 'BenchNine', sans-serif;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  border-bottom:#00a8db solid 4px;
}

.article img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width:990px){
  .about { 
    padding: 0px 150px 40px 150px;
  }
  .header-holder {
    width: 60%;
    margin-top: 40px;
    position:relative;
    text-align: center;
    left: 15%;
  }
}

@media screen and (max-width:750px){
  .about { 
    padding: 0px 90px 40px 90px;
    background-size: 500%;
  }
  .article p{
    font-size: 17px;
  }
}
@media screen and (max-width:450px){
  .about { 
    padding: 0px 60px 40px 60px;
  }
  .article p{
    font-size: 15px;
  }
  .header-holder {
    width: 80%;
    left: 5%;
  }
}

/*------------------------------------------ END OF "WHAT THIS ABOUT" CSS --------------------------------------------*/
/*------------------------------------------ START OF "CAROUSEL" CSS --------------------------------------------*/
.polaroid-container {
  position: relative;
  width:100%;
  padding: 30px;
  height: 400px;
  color:black;
  text-align: center;
  background-color: #84bda2;
  background-position: right;
  background-size: 230%;
  background-image: url("../images/backgrounds/article_background_green4.png");
  display: block;
  border: #000000 0.1px solid;
  z-index: 5;
}

.header-holder2 {
  width: 50%;
  margin-top: 30px;
  position:relative;
  left: 25%;
  display: flex;
}

.polaroid-container h1 {
  position: relative;
  color: #000000;
  font-family: 'BenchNine', sans-serif;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  border-bottom:#00b218 solid 4px;
  margin-top: -20px;
}

.article2 {
  position: relative;
  height:auto;
  width: 100%;
  color:black;
  text-align: left;
  display:flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.article2 p{
  font-family: 'Play', sans-serif;
  font-size: 20px;
  color: #000000;
  text-decoration-color: #000000;
}

.polaroid-responsive-box {
  width: 50%;
  height: auto;
  justify-content: space-around;
  display: flex;
}

.polaroid img{
  height: 150px;
  min-width: 240px;
  max-width: fit-content;
  border-radius: 16px 16px 0px 0px
}

.polaroid {
  background-color: rgb(227, 227, 227);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border: #000000 4px solid;
  border-radius: 20px 20px 20px 20px;
  max-width: 250px;
}

.polaroidcontainer {
  text-align: center;
  padding: 10px 20px;
  border-radius: -20px -20px 0px 0px;
}

@media screen and (max-width:1090px){
  .polaroid { 
    margin: 2%;
    max-width: 180px;
  }
  .polaroid img{
    max-width: 180px;
    width: 100%;
    min-width: 172px;
  }
  .article2 {
    height:auto;
  }
  .polaroid-container h1 {
    font-size: 30px;
  }
}

@media screen and (max-width:810px){
  .polaroid-responsive-box {
    width: 100%;
    display:flex;
    justify-content: space-evenly;
  }
  .article2 {
    height:auto;
    display:inline-block;
  }
  .article2 p {
    font-size: 15px;
  }
  .polaroid-container {
    height:auto;
    display:inline-block;
  }
  .polaroid {
    margin-top: 25px;
    margin-bottom: 0px;
    max-width: 220px;
    width: 100%;
  }
  .polaroid img{
    width: 100rem;
    min-width: 100%;

  }
  .header-holder2 {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width:390px){

  .polaroid-responsive-box {
    width: 100%;
    display:block;
    justify-content: center;
    padding: px;
  }
  .polaroid-container h1 {
    font-size: 30px;
    width: 100%;
  }
  .polaroid {
    margin-top: 25px;
    margin-bottom: 0px;
    max-width: 15000px;
    width: 100%;
  }
  .polaroid img{
    width: 100rem;
    min-width:100%;
    max-width: 0px;
  }
  .polaroidcontainer {
    width: 100%;
  }
  .polaroid img {
    height: 200px;
  }
}

/*----------------------------------------------------------------------------------------*/
.about3 {
  width:100%;
  padding: 0px 250px 40px 250px;
  background-color:rgb(4, 4, 4);
  text-align: left;
  background-image: url("../images/Oil_Spills_Page/oil_spill_concequences_background.png");
  background-size: 250%;
  background-position:left;
  display: block;
  border: #000000 0.1px solid;
}
.header-holder3 {
  width: 40%;
  margin-top: 30px;
  position:relative;
  text-align: center;
  left: 30%;
}

.article3 p{
  position: relative;
  font-family: 'Play', sans-serif;
  width: 100%;
  font-size: 19px;
  z-index: 2;
  margin-top: 30px;
  color: #ffffff;
  padding-left: 7px;
  padding-right: 7px;
}

.article3 {
  position: relative;
  height:auto;
  width: auto;
  color:black;
  text-align: left;
}

.article3 h1 {
  position: relative;
  font-family: 'BenchNine', sans-serif;
  font-weight: 700;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  border-bottom:#c50000 solid 4px;
}

.article3 img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width:990px){
  .about3 { 
    padding: 0px 150px 40px 150px;
  }
  .header-holder3 {
    width: 60%;
    margin-top: 40px;
    position:relative;
    text-align: center;
    left: 15%;
  }
}

@media screen and (max-width:750px){
  .about3 { 
    padding: 0px 90px 40px 90px;
    background-size: 600%;
  }
  .article3 p{
    font-size: 17px;
  }
}
@media screen and (max-width:450px){
  .about3 { 
    padding: 0px 60px 40px 60px;
  }
  .article3 p{
    font-size: 15px;
  }
  .header-holder3 {
    width: 80%;
    left: 5%;
  }
}
/*----------------------------------------------------------------------------------------*/
.about4 {
  width:100%;
  padding: 0px 250px 40px 250px;
  background-color:rgb(255, 255, 255);
  text-align: left;
  background-image: url("../images/Overfishing_page/article_background_green.png");
  background-size: 250%;
  background-position:bottom;
  display: block;
  border: #000000 0.1px solid;
}
.header-holder4 {
  width: 40%;
  margin-top: 30px;
  position:relative;
  text-align: center;
  left: 30%;
}

.article4 p{
  position: relative;
  font-family: 'Play', sans-serif;
  width: 100%;
  font-size: 19px;
  z-index: 2;
  margin-top: 30px;
}

.article4 {
  position: relative;
  height:auto;
  width: auto;
  color:black;
  text-align: left;
}

.article4 h1 {
  position: relative;
  font-family: 'BenchNine', sans-serif;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  border-bottom:#00b218 solid 4px;
}

.article4 img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width:990px){
  .about4 { 
    padding: 0px 150px 40px 150px;
  }
  .header-holder4 {
    width: 60%;
    margin-top: 40px;
    position:relative;
    text-align: center;
    left: 15%;
  }
}

@media screen and (max-width:750px){
  .about4 { 
    padding: 0px 90px 40px 90px;
    background-size: 500%;
  }
  .article4 p{
    font-size: 17px;
  }
}
@media screen and (max-width:450px){
  .about4 { 
    padding: 0px 60px 40px 60px;
  }
  .article4 p{
    font-size: 15px;
  }
  .header-holder4 {
    width: 80%;
    left: 5%;
  }
}